.accountHome {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // text-align: center;
  width: 100%;
  height: 100%;
  // 
  h1 {
    text-align: center;
    padding: 2%;
  }
  .card {
    right-width: 50%;
    text-align: center;
  }
  .customerNav {
    display: flex;
    text-align: center;
    align-items: center;
    // align-items: center;
    .customerNavBtn {
      // display: flex;
      // align-items: center;
      // background-color: rgb(106, 219, 149);
      width: 100%;
      margin: 1%;
      height: 7rem;
    }
  }
}
