// div {
//   display: inline;
// }

.fence-image {
  height: 300px;
  width: 300px;
}

.fenceModal {
  flex-direction: row;
  flex-flow: row wrap;
  align-items: space-evenly;
  margin: auto;
  padding: 1%;
}

