.sweater-image{
  width: 300px;
  height: 300px;
}

.sweaterModal{
  margin: 1%;
  padding: 6%;
}

.sweater-title {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.addToWishList, .addToCart {
  margin: 2%;
}

.sweater-title {
  color: white;
  text-shadow: 1px 2px 2px black;
  text-shadow: 1px 3px 1px 8px black;
  font-size: 24px;
}