$grey: rgb(102, 105, 102);
$darkblue: #1A577F;
$brown: rgb(102, 73, 36);
$bone: rgb(240, 243, 227);
$forestgreen: rgb(11, 138, 49);
$lightgrey: #cdd3cd;

.loginForm {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 3%;
  width: 40%;
  background-color: $lightgrey;
  border-radius: 10px;
}

.LoginBanner {
  width: 45%;
  height: 45%;
  z-index: 10;
}

.lbanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titleReg {
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.register {
  display: flex;
  flex-direction: row;
  justify-content: center;
}