.orderHistory {
  background-color: #ffffff;
  text-align: center;
  // width: 100%;
  background-color: white;
  margin-top: 3%;
  border: solid black;
  border-width: thick;
  display: flex; 
  flex-direction: column;
}