body {
  background: url(../Images/MadeBackground2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// .container {
//   max-width: 100%;
// }

.row {
  margin-right: 0px;
  margin-left: 0px;
}