body {
  background: url('http://i68.tinypic.com/jhym1j.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// .container {
//   max-width: 100%;
// }

.row {
  margin-right: 0px;
  margin-left: 0px;
}