.shipping {
    margin-bottom: 50px;
}

.shipping-item {
    margin-left: 50px;
}
.checkout {
    display: flex;
    flex-direction: row;
}
.all-in-cart{
    width: 800px;
    margin-right: 20px;
}
.total {
    width: 200px;
    height: 200px;
}
.order-text {
    margin: 20px 0px 20px 30px;
}
.address {
    font-size: 0.8em;
}