// .cart {
//     margin: 30px 0px 50px 400px;
// }
.cartItems {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.322);  
    width: 100%;
    border: black solid;
    border-width: thick;
    .checkoutBtn {
        margin-bottom: 3%;
    }
}

.container {
 display: flex;
 justify-content: center;
}



