// .cart {
//     margin: 30px 0px 50px 400px;
// }
.all-in-cart {
    // opacity: 0.8;
    // margin-right: 200px;
    // margin-left: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    // margin-left: 25%;
    padding-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    border: black solid;
    border-width: thick;
    .checkoutBtn {
        margin-bottom: 3%;
    }
}

.container {
 display: flex;
 justify-content: center;
}



