@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$darkblue: rgb(252, 174, 57);
$theme: $darkblue;

.info {
margin-bottom: 80px;
margin-right: 350px;
margin-left: 100px;
display: flex;
flex-direction: row;
}

.delete-button{
    margin-left: 100px;
}
.edit-button{
    width: 50px;
}

.customer-info {
    margin: auto;
}

.delete-button {
    box-shadow: 2px 3px 5px rgb(41, 40, 40);
    margin: 2%;
    background-color: $theme !important;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    color: #fff;
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    //box-shadow: 0 5px 10px rgba($theme,0.5);
    transform: perspective(600px) rotateX(0deg) scale(1);
    transition: all 0.2s linear;
    &:hover {
      background-color: darken($theme, 5%);
      box-shadow: 0 20px 40px rgba($theme,0.5);
    }
    &:active{
      transform: perspective(600px) rotateX(20deg)  scale(0.9);
      font-size: 10px;
      box-shadow: 0 20px 40px rgba($theme,0.5);
    }
    .active &:active{
      transform: perspective(600px) rotateX(0deg) scale(1);
      font-size: 10px;
      box-shadow: 0 15px 40px rgba($theme,0.5);
    }
}