// .wishlistImage {
//   width: 300px;
//   height: 300px;
// }

.wishList {
  // border: solid 1px;
  // border-color:black;
  // margin-left: 100px;
  display: flex;
  margin-top: 2%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
}
// .product-img {
//   // margin-right: 200px;

// }