.product-info {
  margin-right: 30px;
  margin-bottom: 30%;
  background-color: rgba(255, 255, 255, 0.322);
}
.wishlistImage {
  margin-right: 200px;
  width: 300px;
  height: 300px;
}

.titleForProduct {
  font-size: 20px;
}

.price, .size {
  font-size: 13px;
}