.checkout-item {
    margin-bottom: 50px;
    margin-left: 50px;
}
.payment-type{
    font-weight: bold;
}
.product-img{
    width: 150px;
    height: 150px;
}
.products-in-checkout{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    border-style: solid black 2px;
    border-width: thick;
}