.cartProduct {
    height: 300px;
    width: 300px;
}

.product-description {
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 2%;
    padding: 0;
}

#deleteButton2 {
    margin-left: 600px;
    margin-top: -700px;
    z-index: 1;
}