.dino-image {
  height: 300px;
  width: 300px;
}

.dinosaurModal {
  margin: 2%;
  padding: 4%;
}

.dino-title {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.addToCart, .addToWishList {
  margin: 2%;
}