.dino-image {
  height: 300px;
  width: 300px;
}

.anotherDivForDinosaurs {
  display: inline-flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin: 10% 10% 4% 13%;
  padding: 2%;
}