$loader-size: 150px;
$speed: 1.5s; 
$grey: rgba(82, 80, 76, 0.712);
$darkblue: rgb(252, 174, 57);
$brown: rgb(102, 73, 36);
$bone: rgb(240, 243, 227);
$forestgreen: rgb(11, 138, 49);
$theme: $forestgreen;

.customerProfile {
  display: flex;
  width: 70%;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  border-style: solid black;
  border-width: thick;
  background-color: rgba(255, 255, 255, 0.322);
}


