// .profile {
//     margin-left: 300px;
//     margin-top: 50px;
// }
// .edit-name {
//     margin-left: 70px;
//     color: rgb(226, 17, 17);
// }
.customerProfile {
  display: flex;
  width: 100%;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  border-style: double black;
  border-width: 10rem;
  border-color: black;
  background-color: white;
  // justify-content: right;
}
