
.dinosaurLinkToPge, .sweaterLinkToPge, .fenceLinkToPge {
  width: 100%;
  height: 7rem;
  text-align: center;
} 

.homeLink {
  border: double white;
  width: 33.3%;
}

// .homePage {
//   margin-top: 5%;
// }

.btn-info:hover {
  width: 100%;
}

// .homePage {
//   height: 100%;
// }

.productLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // border: solid white;
  margin-top: 1%;
}

.carousel-inner {
  height: 15rem;
  // max-width: 200rem;
}

// .productLinks {
//   display: flex;
//   justify-content: space-between;
//   margin: 2%;
// }

