
.dinosaurLinkToPge, .sweaterLinkToPge, .fenceLinkToPge {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width: 200px;
  height: 7rem;
  text-align: center;
} 

.productLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5%;
}

.carousel-item {
  background-color: white;
}

.carousel-inner {
  height: 10rem;
  background-color: white;
  border: black solid;
  text-align: center;
  // max-width: 200rem;
}

.test { 
  background-color: white;
}

// .productLinks {
//   display: flex;
//   justify-content: space-between;
//   margin: 2%;
// }

